.underChild {
  position: absolute;
  top: 410px;
  left: 0;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: var(--gray-21);
  box-shadow: 0-24px 16px rgba(30, 30, 42, 0.08);
  width: 1440px;
  height: 1072px;
}
.groupIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconicon2Coin {
  width: 78px;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  position: absolute;
  top: calc(50% - 14px);
  left: 16px;
  line-height: 28px;
  font-weight: 600;
}
.tableCelladditionalComponen {
  position: relative;
  width: 172px;
  height: 48px;
  flex-shrink: 0;
}
.top {
  width: 294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b,
.wethApr {
  position: relative;
  line-height: 36px;
}
.wethApr {
  font-size: var(--paragraph-semibold-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--btn-large-normal);
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.b1 {
  position: relative;
  font-size: var(--headline-h4-size);
  line-height: 42px;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--headline-h5-size);
  font-family: var(--headline-h3);
}
.caption {
  position: relative;
  line-height: 18px;
}
.mbListItemitemLeft {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconftr {
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mbListItemitemRight {
  justify-content: flex-end;
}
.mbListItemBasic,
.mbListItemitemRight,
.mbListItemitemRight1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mbListItemBasic {
  align-self: stretch;
  background-color: var(--transparent);
  padding: var(--padding-9xs) 0;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mbListItemitemRight1 {
  width: 49px;
  flex-shrink: 0;
  justify-content: flex-end;
  text-align: right;
  color: var(--white);
}
.icongift {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.mbListItemitemRight4 {
  width: 73px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: right;
  color: var(--white);
}
.mbListItemBasicParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--caption-small-12-16-regular-size);
  color: var(--gray-10);
}
.text {
  position: relative;
  line-height: 24px;
}
.btn {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--primary-5);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.bottom,
.cardmining {
  display: flex;
  justify-content: flex-start;
}
.bottom {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--btn-large-normal-size);
}
.cardmining {
  border-radius: var(--br-5xl);
  background-color: var(--gray-20);
  box-shadow: 12px 24px 80px rgba(30, 30, 42, 0.08);
  width: 342px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-base);
}
.b7 {
  position: relative;
  font-size: var(--headline-h4-size);
  line-height: 42px;
  display: none;
}
.parent2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.bottom2 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--btn-large-normal-size);
}
.bottom2,
.row1,
.row11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row11 {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.row1 {
  flex-direction: column;
}
.groupIcon4 {
  position: relative;
  width: 39px;
  height: 24px;
  flex-shrink: 0;
}
.iconicon2Coin4 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.btn6,
.btn7,
.content {
  display: flex;
  align-items: center;
}
.content {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.btn6,
.btn7 {
  flex: 1;
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  justify-content: center;
}
.btn6 {
  border: 1px solid var(--primary-5);
}
.btn7 {
  background-color: var(--primary-5);
  color: var(--white);
}
.bottom4,
.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom4 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--btn-large-normal-size);
  color: var(--primary-5);
}
.card {
  position: absolute;
  top: 538px;
  left: 182px;
  flex-direction: column;
  gap: var(--gap-5xl);
  font-size: var(--title-1-size);
}
.title {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.menuItemHorizontalitem,
.menuItemHorizontalitem1 {
  height: 64px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.menuItemHorizontalitem {
  background-color: var(--gray-22);
  padding: var(--padding-5xs) var(--padding-5xl);
  color: var(--green-8);
}
.menuItemHorizontalitem1 {
  cursor: pointer;
  text-decoration: none;
  padding: var(--padding-5xs) 0;
  color: inherit;
}
.iconliquidityMining {
  position: relative;
  border-radius: var(--br-81xl);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.ndTitleLevel,
.ndTitleLevel1 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.ndTitleLevel {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 32px;
  flex-shrink: 0;
}
.ndTitleLevel1 {
  color: var(--gray-10);
}
.content1,
.innerWrapper,
.verticalMenuItem2ndLevel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.innerWrapper,
.verticalMenuItem2ndLevel {
  align-self: stretch;
}
.innerWrapper {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.verticalMenuItem2ndLevel {
  background-color: var(--gray-21);
  flex-direction: column;
  padding: var(--padding-base);
}
.icontradingMining {
  position: relative;
  border-radius: var(--br-81xl);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.verticalMenuItem2ndLevel1,
.verticalMenuItem2ndLevelG {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.verticalMenuItem2ndLevel1 {
  align-self: stretch;
  background-color: var(--gray-20);
  display: flex;
  padding: var(--padding-base);
  color: var(--primary-5);
}
.verticalMenuItem2ndLevelG {
  position: absolute;
  top: 44px;
  left: -67.5px;
  border-radius: var(--br-base);
  background-color: var(--gray-21);
  width: 301px;
  overflow: hidden;
  display: none;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
}
.flyout {
  position: relative;
  width: 0;
  height: 0;
  flex-shrink: 0;
}
.body {
  background-color: var(--gray-22);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  color: var(--primary-1);
}
.menuItemHorizontalitem2,
.title3 {
  text-decoration: none;
  color: inherit;
}
.menuItemHorizontalitem2 {
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title3 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.iconiconarrowDown {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.menuItemHorizontalitem3 {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  height: 64px;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: inherit;
}
.menu1,
.menu2,
.menuItemHorizontalitem3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menu2 {
  width: 509px;
  height: 64px;
  flex-shrink: 0;
}
.menu1 {
  position: absolute;
  top: 0;
  left: 60px;
}
.groupIcon7 {
  position: absolute;
  height: 78.75%;
  width: 78.75%;
  top: 10.63%;
  right: 10.63%;
  bottom: 10.63%;
  left: 10.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconuser,
.vectorIcon {
  position: relative;
  flex-shrink: 0;
}
.iconuser {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.vectorIcon {
  width: 6px;
  height: 6px;
}
.iconcolorDot {
  padding: var(--padding-9xs);
}
.eth,
.iconcolorDot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text8 {
  position: relative;
  font-size: var(--paragraph-semibold-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--btn-large-normal);
  color: var(--white);
  text-align: left;
}
.tag {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-5xl);
  background-color: var(--gray-18);
  border-radius: var(--br-81xl);
  flex-direction: row;
  justify-content: center;
}
.address,
.btn8,
.tag {
  display: flex;
  align-items: center;
}
.address {
  border-radius: var(--br-81xl);
  background-color: var(--gray-20);
  flex-direction: row;
  padding: 0 0 0 var(--padding-base);
  justify-content: flex-start;
  gap: var(--gap-base);
}
.btn8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: var(--gray-18);
  border-radius: var(--br-xs);
  flex-direction: column;
  justify-content: center;
}
.itemRight {
  position: absolute;
  top: calc(50% - 20px);
  right: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.image3Icon,
.menu,
.nav {
  position: absolute;
  left: 0;
}
.menu {
  top: 1px;
  width: 1440px;
  height: 64px;
}
.image3Icon,
.nav {
  top: 0;
}
.image3Icon {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.nav {
  width: 1440px;
  height: 65px;
}
.b15,
.provideLiquidityEarn {
  position: relative;
  line-height: 42px;
}
.b15 {
  font-size: var(--headline-h3-size);
  line-height: 56px;
  color: var(--primary-5);
}
.numberParent,
.texttext,
.title4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.texttext {
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--gray-10);
}
.numberParent,
.title4 {
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--paragraph-semibold-size);
  font-family: var(--btn-large-normal);
}
.title4 {
  position: absolute;
  top: 128px;
  left: 183px;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--headline-h4-size);
  font-family: var(--headline-h3);
}
.iconsearch,
.label {
  position: absolute;
  top: calc(50% - 12px);
}
.label {
  left: 48px;
  line-height: 24px;
}
.iconsearch {
  left: 16px;
  width: 24px;
  height: 24px;
}
.input {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--transparent);
  border: 1px solid var(--gray-18);
  box-sizing: border-box;
  width: 344px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
}
.btn9,
.search {
  display: flex;
  flex-direction: row;
}
.btn9 {
  border-radius: var(--br-base);
  background-color: var(--primary-5);
  width: 154px;
  flex-shrink: 0;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--btn-large-normal-size);
  color: var(--white);
}
.search {
  position: absolute;
  top: 290px;
  left: 183px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--gray-10);
}
.tabItemstyle2Itemmedium {
  border-radius: var(--br-xs);
  background-color: var(--white);
  color: var(--primary-5);
}
.tabItemstyle2Itemmedium,
.tabItemstyle2Itemmedium1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.tabItemstyle2Itemmedium1,
.tabItemstyle2Itemmedium2,
.tabsStyle2 {
  border-radius: var(--br-xs);
  background-color: var(--gray-18);
}
.tabItemstyle2Itemmedium2 {
  flex: 1;
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.tabsStyle2 {
  width: 281px;
  flex-shrink: 0;
  overflow: hidden;
  align-items: flex-start;
}
.switch,
.switch1,
.tabsStyle2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.switch1 {
  border-radius: var(--br-981xl);
  background-color: var(--gray-18);
  padding: var(--padding-9xs) var(--padding-17xl) var(--padding-9xs)
    var(--padding-9xs);
  align-items: flex-start;
}
.switch {
  align-items: center;
  gap: var(--gap-base);
}
.iconiconarrowDown1,
.label1 {
  position: absolute;
  top: calc(50% - 12px);
}
.label1 {
  left: 16px;
  line-height: 24px;
  font-weight: 600;
}
.iconiconarrowDown1 {
  right: 16px;
  width: 24px;
  height: 24px;
}
.dropdown {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--transparent);
  border: 1px solid var(--gray-18);
  box-sizing: border-box;
  width: 221px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.switchParent,
.top5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.switchParent {
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--paragraph-semibold-size);
}
.top5 {
  position: absolute;
  top: 450px;
  left: 183px;
  width: 1075px;
  justify-content: space-between;
  font-size: var(--btn-large-normal-size);
}
.under {
  width: 1440px;
  height: 1482px;
}
.mask,
.popUpChild,
.under {
  position: absolute;
  top: 0;
  left: 0;
}
.mask {
  background-color: var(--color-gray-100);
  backdrop-filter: blur(4px);
  width: 1440px;
  height: 900px;
}
.popUpChild {
  border-radius: var(--br-5xl);
  background-color: var(--gray-21);
  width: 512px;
  height: 632px;
}
.btn10 {
  position: absolute;
  top: 544px;
  left: 24px;
  border-radius: var(--br-xs);
  background-color: var(--primary-5);
  width: 464px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.vectorIcon1 {
  position: absolute;
  height: 47.92%;
  width: 47.92%;
  top: 26.04%;
  right: 26.04%;
  bottom: 26.04%;
  left: 26.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconcloseSmall {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  left: 464px;
  width: 24px;
  height: 24px;
}
.tabItemstyle2Itemmedium4,
.tabsStyle21 {
  border-radius: var(--br-xs);
  background-color: var(--gray-18);
  display: flex;
  flex-direction: row;
}
.tabItemstyle2Itemmedium4 {
  flex: 1;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tabsStyle21 {
  width: 268px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--btn-large-normal-size);
}
.singleSidedLiquidityMining {
  margin: 0;
}
.wethusdc {
  text-decoration: underline;
}
.content4 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 464px;
}
.mbListItemBasic25,
.mbListItemitemRight24 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mbListItemitemRight24 {
  width: 63px;
  flex-shrink: 0;
  justify-content: flex-end;
  text-align: right;
  color: var(--white);
}
.mbListItemBasic25 {
  background-color: var(--transparent);
  width: 464px;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.span {
  color: var(--gray-10);
}
.span1 {
  color: var(--white);
}
.mbListItemitemRight25 {
  width: 63px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: var(--green-5);
}
.claimRewards,
.listInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.claimRewards {
  gap: var(--gap-5xl);
  color: var(--gray-10);
}
.available1200 {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  color: var(--gray-10);
}
.title5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.available12001 {
  position: relative;
  line-height: 24px;
  text-align: center;
}
.label2 {
  position: absolute;
  top: calc(50% - 12px);
  left: 48px;
  line-height: 24px;
  font-weight: 600;
}
.dropdown1 {
  position: relative;
  border-radius: var(--br-base) 0 0 var(--br-base);
  background-color: var(--transparent);
  width: 159px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
}
.label3 {
  position: relative;
  line-height: 28px;
}
.input1 {
  flex: 1;
  background-color: var(--transparent);
  height: 56px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--gray-10);
  font-family: var(--headline-h3);
}
.inputGroupwDropdown {
  align-self: stretch;
  border-radius: var(--br-base);
  border: 1px solid var(--gray-18);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white);
}
.receive1,
.receive2 {
  width: 464px;
  flex-direction: column;
  justify-content: flex-start;
}
.receive2 {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.receive1 {
  text-align: left;
  color: var(--gray-10);
}
.receive,
.receive1,
.texttextParent {
  display: flex;
  align-items: flex-start;
}
.receive {
  width: 464px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.texttextParent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.amountStake,
.rate,
.tabsStyle2Parent {
  display: flex;
  justify-content: flex-start;
}
.rate {
  width: 464px;
  flex-direction: row;
  align-items: center;
  text-align: left;
  color: var(--gray-10);
}
.amountStake,
.tabsStyle2Parent {
  flex-direction: column;
}
.amountStake {
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: center;
}
.tabsStyle2Parent {
  position: absolute;
  top: 24px;
  left: 24px;
  align-items: center;
  gap: var(--gap-21xl);
  font-size: var(--paragraph-semibold-size);
}
.popUp {
  position: absolute;
  top: 128px;
  left: 464px;
  width: 512px;
  height: 632px;
  font-size: var(--btn-large-normal-size);
}
.stake2 {
  position: relative;
  background-color: var(--gray-22);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-semibold-size);
  color: var(--white);
  font-family: var(--btn-large-normal);
}
